body{
    padding: 100px;
}

.submit-area{
    margin-top: 50px;
    padding: 50px;
    box-shadow: 5px 5px 15px gray;
    border-radius: 5px;
}

#transaction-area{
    display: none;
}

.status{
    margin: 0 20px;
    color: white;
    padding: 50px;
    border-radius: 10px;
}

.deposit{
    background-color: lightsalmon;
}

.withdraw{
    background-color: slateblue;
}

.balance{
    background-color: orange;
}